<!-- lista_usuarios.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Usuários</title>
</head>
<body>
    <h1>Lista de Usuários</h1>

    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Idade</th>
                <th>E-mail</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.nome }}</td>
                    <td>{{ usuario.idade }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>
                        <form action="{% url 'excluir_usuario' usuario.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Excluir</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
