{% extends 'base.html' %}

{% block content %}

    <main>
        <section>
            <div class="categories">
                <div class="category">
                    <i class="fas fa-book"></i>
                    <p>Ficção</p>
                </div>
                <div class="category">
                    <i class="fas fa-lightbulb"></i>
                    <p>Não Ficção</p>
                </div>
                <div class="category">
                    <i class="fas fa-heart"></i>
                    <p>Romance</p>
                </div>
                <div class="category">
                    <i class="fas fa-search"></i>
                    <p>Mistério</p>
                </div>
            </div>

            <div class="books" style="margin-top: 5%">
                {% for livro in livros %}
                <div class="card">
                    <img class="card-img-top" src="{{ livro.imagem.url }}" alt="Livro 1">
                    <div class="card-body">
                        <h5 class="card-title">{{livro.titulo}}</h5>
                        <p class="card-text">{{livro.autor}}</p>
                        <a href="{% url 'detalhes_livro' livro.pk %}" class="btn btn-primary">{{livro.preco}}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>


    </main>

 {% endblock %}
