{% extends 'base.html' %}

{% block content %}
<main>
    <section>
        <h2>Editar Livro</h2>
        <form id="form-editar-livros" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <label for="id_titulo">Título do Livro</label>
                {{ form.titulo }}
            </div>
            <div>
                <label for="id_autor">Autor</label>
                {{ form.autor }}
            </div>
            <div>
                <label for="id_genero">Gênero</label>
                {{ form.genero }}
            </div>
            <div>
                <label for="id_descricao">Descrição</label>
                {{ form.descricao }}
            </div>
            <div>
                <label for="id_preco">Preço</label>
                {{ form.preco }}
            </div>
            <div>
                <label for="id_ano_publicacao">Ano de Publicação</label>
                {{ form.ano_publicacao }}
            </div>
            <div>
                <label for="id_imagem">Capa do Livro</label>
                {{ form.imagem }}
            </div>
            <div>
                <button type="submit" class="contact-button">Salvar Alterações</button>
            </div>
        </form>
        <form method="post" action="{% url 'livro_delete' livro.pk %}">
            {% csrf_token %}
            <button type="submit" class="delete-button">Excluir Livro</button>
        </form>
    </section>
</main>
{% endblock %}
